#presentheader{
  height: 130px;
  position: relative;
  background: white;
  z-index: 1000;
  min-height: 75px;
 //margin-bottom: 25px;

  #wrapper{
    padding: 10px 0;
  }

  #presenting_ctl{

    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    padding: 0.1em 0.5em;
    bottom: 0;
    font-size: 1.3em;
    color: #480F84;
    background: white;
    border-radius: 0px 5px 0px 0px;
    cursor: pointer;
    &:hover{
      background:#480F84;
      color:white;
    }
  }


  #pwby{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    padding: 0.5em;
    background: transparent;
    font-weight: 500;
    font-size: 1.3em;
    color:  #b1b1b1;
    border-radius: 10px;
    img{
      height: 100%;
      position: relative;
      top: 3px;
    }
  }

  #scopeInfo{
    //
    display: block;
    //background: white;
    text-align: center;
    margin: auto;
    width: 40vw;
    height: 120px;
    //border-radius: 0 0 5px 5px;
    //box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    //-ms-text-overflow: ellipsis;
    //text-overflow: ellipsis;
    //font-size: 0.9em;
    #caption{

      font-size: 2em;
      color: black;
      font-weight: 500;
    }
    #hash{
      text-align: center;
      font-size: 1.3em;
      color: #b1b1b1;
    }

    #location{

      color: #8fc0ec;
      text-transform: capitalize;

    }
  }

  @media screen and (max-width: 700px) {

    #scopeInfo{


    }

  }
}
