#presentheader{
  height: 130px;
  position: relative;
  background: white;
  z-index: 1000;
  min-height: 75px;
 //margin-bottom: 25px;

  #wrapper{
    padding: 10px 0;
  }

  #presenting_ctl{

    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    bottom: 0;
    padding: 0em 1em;
    font-size: 1.2em;
    color: #480F84;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;

    i{
      margin-right: 5px;
    }

    &:hover{
      background:#480F84;
      color:white;
    }
  }


  #pwby{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    padding: 0.5em;
    background: transparent;
    font-weight: 500;
    font-size: 1.3em;
    color:  #b1b1b1;
    border-radius: 10px;
    img{
      height: 100%;
      position: relative;
      top: 3px;
    }
  }

  #scopeInfo{
    //
    display: block;
    //background: white;
    text-align: center;
    margin: auto;
    width: 40vw;

    #caption{


      color: grey;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      display: block;
      overflow: hidden;
      font-size: 1.6em;


    }
    #hash{
      text-align: center;
      font-size: 1.3em;
      color: #b1b1b1;
    }

    #location{

      color: #8fc0ec;
      text-transform: capitalize;

    }
  }

  @media screen and (max-width: 700px) {

    #scopeInfo{


    }

  }
}
