#presentheader{
  height: 10vh;
  position: relative;
  background: white;
  z-index: 1000;
  min-height: 75px;
  background-image: linear-gradient(-45deg, #fa5757 0, #63719a 100%);
  margin-bottom: 25px;

  #pwby{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.5em;
    background: transparent;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    border-radius: 10px;
  }

  #scopeInfo{

    display: inline-block;
    padding: 1em 2em;
    background: white;
    position: absolute;
    bottom: -20%;
    text-align: center;
    width:40vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    #caption{

      font-size: 2em;
      color: grey;
      font-weight: 600;
    }
    #hash{
      text-align: center;
      font-size: 1.3em;
      color: #6bb2e8;
    }
  }
}
