<div id="appheader">


  <div class="header_left">
    <div id="tog-but">
      <button id="toggle-button">☰ Menu</button>
    </div>
    <div id="logo">
      <img :src="logo">
    </div>
  </div>

  <div class="header-container">
    <div id="search-bar">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" placeholder="Start search here">
    </div>

    <div id="create-sp" @click="showAddScope = true">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <input type="button" value="Create Scope">
    </div>

    <addscope :show.sync="showAddScope"></addscope>
  </div>


</div>
