#presenting{

  //height: 100vh;
  //overflow: hidden;
  width:100vw;
  //margin-top: -55px;
  .modal-mask{

    display: none !important;

  }
  .card.one_image .pic img{

    cursor: initial !important;
  }
  #display{
    padding-top: 25px;
    background: #f8f3f2;
    min-height: calc(100vh - 130px);
  }
}
