<div id="presenting">
  <presentheader :scope.sync="scope" :showsetting.sync="showSetting"></presentheader>
  <sidecontrol :layout.sync="layout" :showsetting.sync="showSetting" :imagepresentinterval.sync="imagepresentinterval"></sidecontrol>

  <div id="display" v-if="imageList">
  <compact :datalist.sync="imageList" :newimagelist.sync="newImageList" v-if="layout=='compact' && imageList"></compact>
  <regular :datalist.sync="imageList" :newimagelist.sync="newImageList" v-if="layout=='default' && imageList"></regular>
  <single :datalist.sync="imageList" :newimagelist.sync="newImageList" v-if="layout=='single'"></single>
  </div>
</div>
