<div id="header" class="home">
  <div class="header_left">
    <div id="logo">
      <img :src="logo" v-link="{path: '/landing'}">
    </div>
  </div>


  <div id="header_lists">
    <div class="header-item">
      Features
    </div>

    <div class="header-item" v-link="{path:'/pricing'}">
      Pricing
    </div>

    <div class="header-item">
      Contact
    </div>

    <a class="header-item login" v-link="{path:'/login?op=log'}">
      Login
    </a>

    <a class="header-item" id="started"  v-link="{path:'/login?op=sign'}">
      <!--<input type="button" value="Get Started" id="started">-->Get Started
    </a>
  </div>

  <!--<login :showlogin.sync = "showlogin" :user.sync="user"></login>-->

</div>
