<div id="contactpage">
  <div id="contactpage_top" class="container">
    <contact></contact>
  </div>
  <div id="contact_bottom">
    <div id="faq">
      <div id="caption">Frequently Asked Questions
      <div id="sub_caption">We care to answer before you ask</div>
      </div>

      <div id="questions">
        <div class="question">
          <div class="cap">What is Scope Live?</div>
          <div class="content">  Scope Live is a web-based productivity tool to help you understand and achieve your social media marketing goals. Sign up now to understand how your company is preforming and who you’re engaging with across social media.</div>
        </div><!--
        --><div class="question">
          <div class="cap">What is a Scope? </div>
          <div class="content">A Scope is a self-curated album that you can use to collect images from across major social media platforms by hashtag, location, and/or time. </div>
        </div><!--
        --><div class="question">
          <div class="cap">Why should I use Scope Live?</div>
          <div class="content">By using Scope Live, you can be sure that you don’t miss a single image from any of your fans across social media. No matter what platform the image is postedto, we can collect it for you instantaneously. Use Scope Live to understand your audience and alter your marketing plans accordingly. </div>
        </div><!--
        --><div class="question">
          <div class="cap">What is the "Embed" feature on Scope Live for?</div>
          <div class="content">Scope Live’s DzEmbeddz feature has been designed to help you showcase the best of your fans’ posts from across social media to your website directly! With fan posts displayed prominently, visitors to your website can be sure to gain a fuller experience and understanding of your company.</div>
        </div><!--
        --><div class="question">
          <div class="cap">Can I use Scope Live for my small business?</div>
          <div class="content">Scope Live is perfect for small businesses! Scope Live is a great tool for small businesses to use to understand the big picture of how they are preforming across social media. We find that small businesses love our embed feature, as it shows new visitors to your website that your small business is trustworthy and popular with consumers. </div>
        </div>
      </div>
    </div>
  </div>
</div>
