#home {

  section {
    display: block;
    min-height: 50vh;
  }

  #intro-container {
    position: relative;
    height: calc(85vh + 75px);
    margin-top: -75px;
    max-height: 80vh;
    //padding: 15vh 0 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(-45deg, #fa5757 0, #63719a 100%);
    background-repeat: no-repeat, no-repeat;
    z-index: 1;
    #center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .caption {

      color: #fff;
      font-size: 50px;
      font-weight: 700;
      margin: 0;
      padding-bottom: 25px;
      text-align: center;
      z-index: 1;
      line-height: 1;
    }

    form {
      width: 40vw;
      margin: auto;
      //background-color: white;
      color: black;
      .search-wrapper {

        width: 100%;
        margin: auto;
        position: relative;
        input {
          display: inline-block;
          margin: 0;
          padding: 5px;
          background: white;
          border-radius: 5px;
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.20);
        }

        .material-icons {
          display: inline-block;
          position: absolute;
          top: 17px;
          right: 0px;
        }
      }
    }
  }

  #customer {
    height: 20vh;
  }

}
