<div id="aboutus">
  <div id="about-caption">
    About Us
  </div>
  <div id="about-content">
    ScopeLive is part of the Pantoscope Media Inc. group based in Vancouver, Canada. Due to Panatoscope Media Inc.'s work in image recognition technology, they are founded in part by IRAP, NSERC Canada, and Mitacs.
  </div>
</div>

<div id="workus">
  <div id="work-caption">
    Work with us
  </div>
  <div id="work-content">
    Want to be part of something exciting? We are currently looking for some awesome people to be a part of our team.
  </div>
</div>

<div class="job">
  <div class="job-left">
    <div class="job_title">Social Media Specialist</div>
    <div class="job_loc"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Vancouver,Canada</span></div>
  </div>
  <div class="right">
    <button @click="dropDown($event)">View Job</button>
  </div>

  <div class="bottom_drop">
    <h5>About Us</h5>

    <p>Pantoscope Media Inc. is a fast growing start-up located in Downtown


      Vancouver. We are currently building a mobile image-searching engine.

      <a href="www.scopephotos.com">www.scopealive.com</a>
    </p>

    <h5>About the Job</h5>

    <p> We are currently looking for an experienced Social Media Specialist to join our

      marketing team. Everyday job activities include helping to design, implement,

      and monitor marketing campaigns.</p>

    <h5>Responsibilities</h5>
    <p>

    <li>Design and implement new social media campaigns</li>

    <li>Work closely with our marketing team to create a seamless marketing

      campaign consistent across all major platforms
    </li>

    </p>

    <h5>Requirements</h5>
    <p>

    <li>2+ years experience in marketing, with a focus on social media</li>

    <li>Previously have designed and implemented nation wide social media

      campaigns
    </li>

    <li>Experience in using Facebook, Instagram, Twitter, Wordpress, Tumblr,

      and more in a marketing capacity
    </li>

    <li>Experience in using marketing tools, such as Hootsuite, Flurry, Crowdfire,

      Fabric, and more
    </li>

    <li>A scrappy, entrepreneurial attitude that gets high-quality projects done

      quickly
    </li>

    <li>The ability to work both independently and in a team environment</li>
    </p>

    <h5>Method of Application</h5>

    <p>Pantoscope Media Inc. is located in Downtown Vancouver, BC. To qualify,

      applicant must be legally authorized to work in Canada.

      We thank all candidates who apply, however, only those being considered will be

      contacted.

      Please send your cover letter and resume to <a href="mailto:jobs@scopephotos.com" target="_top">jobs@scopephotos.com</a>, if
      you are

      interested.</p>



  </div>

</div>

<div class="job">
  <div class="job-left">
    <div class="job_title">IOS Developer</div>
    <div class="job_loc"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Vancouver,Canada</span></div>
  </div>
  <div class="right">
    <button @click="dropDown($event)">View Job</button>
  </div>

  <div class="bottom_drop">
    <h5>About Us</h5>

    <p>Pantoscope Media Inc. is a fast growing start-up located in Downtown


      Vancouver. We are currently building a mobile image-searching engine.

      <a href="www.scopephotos.com">www.scopealive.com</a>
    </p>

    <h5 About the Job></h5>

    <p>
      We are currently looking for an iOS developer to join our growing team. We have the technology, and we’d like to build a team of world-class engineers
      to help us and grow with the company.

      <li>You will be implementing new features to iOS app</li>
      <li>You will be working closely together with our designers and engineers to design and build a compelling product and implementing exciting new features.</li>
    </p>

    <h5 Requirements></h5>
    <p>
      <li>B.S or M.S. Computer Science or 2+ years in relevant work experience</li>
      <li>Released product to App Store</li>
      <li>A scrappy, entrepreneurial attitude that gets high-quality projects done quickly</li>
      <li>The ability to collaborate with the design and back-end engineering team to ensure a great experience for our users</li>
      <li>Be able to write elegant, readable, and well-documented code</li>
    </p>

    <h5>Method of Application</h5>
    <p>Pantoscope Media Inc. is located in Downtown Vancouver, BC. To qualify, applicant must be legally authorized to work in Canada. We thank all candidates who apply, however, only those being considered will be contacted.
      Please send your cover letter and resume to jobs@scopemedia.com, if you are interested.</p>
  </div>

</div>

<div class="job">
  <div class="job-left">
    <div class="job_title">Android Developer</div>
    <div class="job_loc"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Vancouver,Canada</span></div>
  </div>
  <div class="right">
    <button @click="dropDown($event)">View Job</button>
  </div>

  <div class="bottom_drop">
    <h5>About Us</h5>

    <p>Pantoscope Media Inc. is a fast growing start-up located in Downtown


      Vancouver. We are currently building a mobile image-searching engine.

      <a href="www.scopephotos.com">www.scopealive.com</a>
    </p>

    <h5>About the Job</h5>
    <p>
      We are currently looking for a mobile developer with the necessary skills and experience in building apps for Android devices.
      We have the technology, and we’d like to build a team of world-class engineers to help us and to grow with the company.
      <li>Implementation of new features to the Android app</li>
      <li>Work closely with our designers and engineers to design and build a compelling product, while simultaneously implementing new features.</li>
    </p>

    <h5>Requirements</h5>
    <p>
      <li>B.S or M.S. Computer Science or 1+ years in relevant work experience</li>
      <li>A scrappy, entrepreneurial attitude that gets high-quality projects done quickly</li>
      <li>The ability to collaborate with the design and back-end engineering team to ensure a great experience for our users</li>
      <li>Be able to write elegant, readable, and well-documented code</li>
    </p>

    <h5>Method of Application</h5>
    <p>Pantoscope Media Inc. is located in Downtown Vancouver, BC. To qualify, applicant must be legally authorized to work in Canada. We thank all candidates who apply, however, only those being considered will be contacted.
      Please send your cover letter and resume to jobs@scopephotos.com, if you are interested.</p>
  </div>
</div>


<div id="more">
  <div id="more-intro">
    Don't see a job for you? Send us your resume and let's try and make something work!
  </div>

  <div id="more-contact">
    <a v-link="{path: '/contact'}">CONTACT WITH US ></a>
  </div>
</div>
