#scopeheader{

  position: relative;
  text-align: center;
  height: 290px;
  width: 100vw;
  background-image: linear-gradient(-45deg, #fa5757 0, #63719a 100%);
  background-repeat: no-repeat, no-repeat;
  #header_content{
    padding: 1.5em;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    #caption{
      font-size: 2em;
      color:white;
      font-weight: bold;
    }

      #googleMap{
        width: 50% !important;
        height: 150px !important;
        margin: auto;
      }

    #description{

      font-size: 1.4em;
      color: white;
    }

    #location{

        color: #8fc0ec;
      text-transform: capitalize;

    }
  }
  .one_tag{
    display: inline-block;
    color: white;
    margin-left: 5px;
    font-size: 1.2em;
  }
}
