<div id="contact" class="container">
  <div class="contact-header">
    Contact
  </div>
  <div class="contact-body">
    <form>
      <div>
        <label>Name</label>
        <input type="text" placeholder="What's your name?" v-model="name">
      </div>

      <div>
        <label>Email</label>
        <input type="email" placeholder="What's your email address" v-model="email">
      </div>

      <div>
        <label>Message</label>
        <input type="text" placeholder="Tell us about your project" v-model="message">
      </div>
      <div>
        <input type="submit" value="submit">
      </div>
    </form>

  </form>
</div>
