<div id="contact" class="container">
  <div class="contact-header">
    Contact
  </div>
  <div class="contact-body">
    <form v-on:submit.prevent="submitForm(userName, email, message)">
      <div>
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="What's your name?" v-model="userName" required>
      </div>

      <div>
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="What's your email address" v-model="email" required>
      </div>

      <div>
        <label for="msg">Message</label>
        <input id="msg" type="text" placeholder="Tell us a little about yourself!" v-model="message">
      </div>
      <div>
        <input type="submit" value="send">
      </div>
    </form>

  </form>
</div>
