#featurefloor{
  margin-top: 50px;
  margin-bottom: 50px;
  .floor_left,.floor_right{
    padding: 3em;
    height: 430px;
    margin-top: 30px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    background-size: cover;
    .caption{
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 2.0em;
    }
    .content{

      width:400px;
      font-weight: 100;
      font-size: 1.3em;
    }
  }
}
