#featurefloor{
  margin-top: 50px;
  margin-bottom: 50px;
  .floor{
    margin: 10em 0;
  }
  .floor_left,.floor_right{
    padding: 2em;
    height: 300px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    .caption{
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 1.5em;
    }
    .content{

      width:400px;
      font-weight: 100;
    }

    .floor-img{
      width: 100%;
    }

    .floor-text{
      position: relative;
      top: 50%;
      transform: translateY(50%);
    }


  }
}
