.card{
  width: 19%;
  margin: 0;
  margin-left: .8%;
  margin-top: 5px;
  margin-bottom: 0;
  display: inline-block;
  opacity: 0;
  transition: opacity 1s;
  position: relative;
  background: #fff;
  //border: 1px solid #ECEBEB;
  box-shadow: none;
  border-radius: 0px;

  .imgCtr{

    background: #fafafa;
    text-align: center;

    .ctr{
      display: inline-block;
      width: auto;
      line-height: 1px;
      padding: 7px 12px;
      background: #484848;
      border-radius: 5px 5px 0px 0px;
      color: white;
      &:hover{
        background: #fa5757;
        cursor: pointer;
      }
    }


  }

  .user_info{

    width: auto;
    z-index: 1;
    position: relative;
    padding: 0.8em;
    .ava{
      width: 12%;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      max-width: 40px;
      a{
        background: 0 0;
        color: #4183c4;
        text-decoration: none;
        display: inline-block;
        img{
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }

    }

    .src{

      display: inline-block;
      padding: .2em .5em;
      vertical-align: top;
      width: 85%;
      font-size: 0.9em;
      text-align: left!important;
      a{

        color:#333;
      }
    }

    .user_name{

      font-size: 1.05em;
      font-weight: 600;

    }

    .source{

      font-size: .9em;
      font-weight: 400;
      color: grey;
      line-height: .9em;
    }

    .time_location {
      font-size: .9em;
      font-weight: 400;
      color: grey;
      line-height: 1em;
      margin-top: 3%;
      margin-left: -1.5px;
      .fa-map-marker{
        margin-right: 0.1em;
        color: #4da5f5;
      }

      .image_time{

        margin-top: 0.1em;
      }

      .fa-clock-o{

        margin-right: 0.1em;
        color: #da3939;
        margin-left: -0.1em;
      }
    }

  }

  //.author{
  //    width: auto;
  //    z-index: 1;
  //    position: relative;
  //    padding: 0.5em 0 0.5em 0.5em;
  //      .userAvatar_name{
  //        .userAvatar{
  //          width: 12%;
  //          border-radius: 50%;
  //          overflow: hidden;
  //          display: inline-block;
  //          vertical-align: top;
  //          max-width: 40px;
  //          img{
  //            width: 100%;
  //            height: auto;
  //          }
  //        }
  //        .userName_source{
  //          display: inline-block;
  //          padding: .2em .5em;
  //          vertical-align: top;
  //          width: 85%;
  //          text-align: left!important;
  //        }
  //        .userName_source .userName {
  //          font-size: 1.05em;
  //          font-weight: 600;
  //        }
  //      }
  //  }
  .pic{
    img{
      cursor: pointer;
      width: 100%;
      height: auto;
    }
  }

  .image_info{

    padding: 5%;
    padding-bottom: 1%;
    background: #fff;
    word-break: break-all;
    color: #636262;
    .des{
      font-size: .8em;
      font-weight: normal;
      line-height: 1.5em;
      margin-top: 2%;
      color: grey;
    }
  }

  .tag_list{

    padding: 0;
    margin-top: .5em;
    li {
      display: inline-block;
      list-style: none;
      margin-top: .2em;
      z-index: 0;
      a{
        color: grey;
        font-weight: 500 !important;
        border-radius: 0;
        border: 1px solid;
        font-size: 0.75em;
        padding: 0.3em 0.5em;
        line-height: 0.5em;

      }
    }
  }

}
.loaded{
  opacity: 1 !important;
}

