.card{
  padding: 5px 3px;
  width: 24%;
  margin-left: .8%;
  margin-top: 1%;
  display: inline-block;
  opacity: 1;
  transition: opacity 1s;
  position: relative;
  background: #fff;
  border: 1px solid #ECEBEB;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  .author{
      width: auto;
      z-index: 1;
      position: relative;
      padding: 0.5em 0 0.5em 0.5em;
        .userAvatar_name{
          .userAvatar{
            width: 12%;
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            max-width: 40px;
            img{
              width: 100%;
              height: auto;
            }
          }
          .userName_source{
            display: inline-block;
            padding: .2em .5em;
            vertical-align: top;
            width: 85%;
            text-align: left!important;
          }
          .userName_source .userName {
            font-size: 1.05em;
            font-weight: 600;
          }
        }
    }
  .pic{
    img{
      width: 100%;
      height: auto;
    }
  }
  .message{
    font-size: .8em;
    font-weight: 600;
    line-height: 1.4em;
    margin-top: 3%;
  }
}
.loaded{
  opacity: 1 !important;
}

