<div id="floor">
  <div class="one_floor">
    <div class="floor_left" style="background: url('https://images.unsplash.com/photo-1473244228373-94e7e7fd250f?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb')"></div><!--
    --><div class="floor_right" style="background: #e89f5e">
      <div class="fl_content">
        <div class="f_caption">For Brands</div>
        <div class="f_content">Connect with and understand your ever changing audience. Engage with fans through social media or in person.</div>
      </div>
    </div>
  </div>
  <div class="one_floor">
    <div class="floor_left" style="background: #fafafa">
      <div class="fl_content">
        <div class="f_caption">For Event</div>
        <div class="f_content">Connect with and understand your ever changing audience. Engage with fans through social media or in person.</div>
      </div>
    </div><!--
    --><div class="floor_right" style="background-image:url('https://images.unsplash.com/photo-1473271008451-b0fcb08b728d?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb')"></div>
  </div>
  <div class="one_floor">
    <div class="floor_left" style="background: url('https://images.unsplash.com/photo-1473269712320-f24ce5aa6e5d?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80&cs=tinysrgb')"></div><!--
    --><div class="floor_right" style="background: #480e86">
      <div class="fl_content" style="color:white">
        <div class="f_caption">For Brands</div>
        <div class="f_content">Connect with and understand your ever changing audience. Engage with fans through social media or in person.</div>
      </div>
    </div>
  </div>
  <!--<div id="title">Use <b>Scope Live</b> to help grow your business!</div>-->
  <!--<div id="sub_title">Understand and connect with your ever-growing audience's activities across major social media platfoms.</div>-->
  <!--<div id="trail_b"><a>Start your free trail</a></div>-->
</div>
