<div id="floor">
  <div class="one_floor">
    <div class="floor_left" :style="{ backgroundImage: 'url(' + brands + ')' }"></div><!--
    --><div class="floor_right" style="background: #FFA15A">
      <div class="fl_content" style="color:white">
        <div class="f_icon">
          <img :src="iconb">
        </div>
        <div class="f_caption">For Brands</div>
        <div class="f_content">Connect with and understand your ever changing audience. Engage with fans through social media or in person.</div>
      </div>
    </div>
  </div>
  <div class="one_floor">
    <div class="floor_left" style="background: #fafafa">
      <div class="fl_content">
        <div class="f_icon">
          <img :src="icone">
        </div>
        <div class="f_caption">For Events</div>
        <div class="f_content">Create an exciting interactive experience for any event. Feature only the best social media content on the big screen.</div>
      </div>
    </div><!--
    --><div class="floor_right" :style="{ backgroundImage: 'url(' + events + ')' }">
      </div>
  </div>
  <div class="one_floor">
    <div class="floor_left" :style="{ backgroundImage: 'url(' + presentations + ')' }">
    </div><!--
    --><div class="floor_right" style="background: #480F84">
      <div class="fl_content" style="color:white">
        <div class="f_icon">
          <img :src="iconp">
        </div>
        <div class="f_caption">For Presentations</div>
        <div class="f_content">Support your next presentation with customized social media content in an organized an engaged manner.</div>
      </div>
    </div>
  </div>
  <!--<div id="title">Use <b>Scope Live</b> to help grow your business!</div>-->
  <!--<div id="sub_title">Understand and connect with your ever-growing audience's activities across major social media platfoms.</div>-->
  <!--<div id="trail_b"><a>Start your free trail</a></div>-->
</div>
