#pricing{

  //padding: 5em;
  text-align: center;


  #free_trail{
    background: #f8f3f2;
    padding: 5em;
    width: 100%;
    padding: 7em;
    text-align: center;
    text-transform: capitalize;



    #title{
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: capitalize;
      font-size: 3.0em;
    }

    #sub_title{

      font-size: 1.5em;
      color:grey;
      width: 450px;
      margin: auto;
      padding: 0.5em;

    }

    a{
      background: #3f1680;
      color: white;
      font-size: 1.4em;
      padding: 0.5em 2.5em;
      display: inline-block;
      margin-top: 1em;
      border-radius: 30px;
    }
  }

  #plans{
    margin-top:5em;
    padding: 5em;
    .center{
      border-color: #FFA15A !important;
    }
    .one_plan{

      display: inline-block;
      width: 30%;
      margin-left: 1.5%;
      vertical-align: top;
      min-height: 70vh;
      border:2px solid #dad7d7;
      padding: 2%;
      .plan_title{
          //font-weight: bold;
          font-size: 2.5em;
      }
      .plan_content{

        font-size: 1.1em;
        color: grey;
        margin-top: 1em;
        height: 70px;
        .content{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .price{

        font-size: 6em;
        font-weight: bold;
        color: #FFA15A;
        position: relative;
        right: 20px;

        span{

          display: inline-block;
          position: absolute;
          font-size: 0.3em;
          top: 20px;

        }

        .mon{
          font-size: 0.15em;
          position: relative;
          top: -30px;
          color: grey;
        }
      }
      .price_call{
        font-size: 6em;
        font-weight: bold;
        color: #FFA15A;
        position: relative;

        #phone_icon{
          max-height: 100px;
          margin: 10px 0;
        }
      }



      .start{
        button {
          font-size: 1.7em;
          padding: 0.2em 1em;
          background: none;
          border: 3px solid #3f1680;
          color: #3f1680;
          border-radius: 15px;
        }
      }
      .feature{
        margin-top: 20px;
        .included,.not_included{
          width:80%;
          text-align: left;
          margin: auto;
          margin-top: 15px;
          .tick,.detail{
            display: inline-block;
            vertical-align: top;
            line-height: 1.6em;
          }
          .tick{
            display: inline-block;
            width: 10%;
            color: #FFA15A;
            font-size: 1.3em;
          }
          .detail{
            width: 80%;
            margin-left: 5%;
            font-weight: 100;
          }
        }
        .not_included{

          .tick{
            //visibility: hidden;
            color: gainsboro;
          }
          .detail{
            //text-decoration: line-through;
            color: gainsboro;
          }
        }
        .detail{
          font-size: 1.1em;
          color:grey;
        }
      }
    }

  }

  #pricing_search{
    form {
      width: 100%;
      margin: auto;
      //margin-top: 3em;
      //margin-top: 15px;
      //margin-bottom: 15px;
      //background-color: white;
      color: black;
      .search-wrapper {

        width: 100%;
        margin: auto;
        position: relative;
        input {
          margin: 0;
          padding: 10px;
          padding-left: 250px;
          font-size: 2.5em;
          font-weight: 100;
          background: white;
          border: 1px solid #f3f0f0;
          border-left: none;
          border-right: none;
          box-shadow: 1px 1px 5px 0px gainsboro;
        }
        input:focus{
          box-shadow: none;
        }

        .material-icons {
          display: inline-block;
          position: absolute;
          top: 10px;
          left: 190px;
          font-size: 3.5em;
          color: #FFA15A;
        }
      }
    }
  }

}
