<div id="pricing">
  <div id="free_trail">
    <div id="title">Pick your plan</div>
    <div id ="sub_title">Not Sure what's right for you? No problem! Try out our free 30 day plan now.</div>
    <a id="trail">Start your free version</a>
  </div>
  <div id="intro_bot">
    <form v-on:submit.prevent="searchTag(tag)" >
      <div class="search-wrapper">
        <input type="search" placeholder="Start search by #hashtags" v-model="tag"><i class="material-icons">search</i>
      </div>
    </form>
  </div>
  <div id="plans">
    <div class="one_plan">

      <div class="plan_title">Basic</div>
      <div class="plan_content">
        <div class="content">Our basic plan includes all the essential Scope Live tools that your small business needs!</div>
      </div>
      <div class="price">
        12<span>CA$</span>
        <div class="mon">per month</div>
      </div>
      <div class="start">
        <button>Get Started</button>
      </div>

      <div class="feature">
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Aggregate photos by hashtag, location, and or time</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Moderate photos</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Live or static</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">App support</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Basic 3x3 grid format</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Simple black border</div>
        </div>
        <div class="not_included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Customizable border color</div>
        </div>
        <div class="not_included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Customization logo option</div>
        </div>
        <div class="not_included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Website Support from Scope Live Team</div>
        </div>

      </div>
    </div>
    <div class="one_plan center">

      <div class="plan_title">Advanced</div>
      <div class="plan_content">
        <div class="content">With our all-inclusive Advanced Plan, you can now seamlessly incorporate your social media activities and fans within your website.</div>
      </div>
      <div class="price">
        17<span>CA$</span>
        <div class="mon">per month</div>
      </div>
      <div class="start">
        <button>Get Started</button>
      </div>

      <div class="feature">
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Aggregate photos by hashtag, location, and or time</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Moderate photos</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Live or static</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">App support</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Basic 3x3 grid format</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Simple black border</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Customizable border color</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Customization logo option</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Website Support from Scope Live Team</div>
        </div>

      </div>
    </div>
    <div class="one_plan">

      <div class="plan_title">Profesional</div>
      <div class="plan_content">
       <div class="content">Need a larger plan? Send an email or give us a call!</div>
      </div>
      <div class="price">
        12<span>CA$</span>
        <div class="mon">per month</div>
      </div>
      <div class="start">
        <button>Contact with us</button>
      </div>

      <div class="feature">
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Aggregate photos by hashtag, location, and or time</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Moderate photos</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Live or static</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">App support</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Basic 3x3 grid format</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Simple black border</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Customizable border color</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Customization logo option</div>
        </div>
        <div class="included">
          <div class="tick"><i class="fa fa-check" aria-hidden="true"></i></div>
          <div class="detail">Website Support from Scope Live Team</div>
        </div>
        <div class="included">
          <div class="tick "style="font-size: 1.5em"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
          <div class="detail" style="padding-top: 5px;">Extra features</div>
        </div>
      </div>
    </div>
  </div>
</div>
