<div id="pricing">
  <div id="free_trail">
    <div id="title">Pick your plan</div>
    <div id ="sub_title">Not Sure what's right for you? No problem! Try out our free 30 day plan now.</div>
    <a id="trail">Start your free version</a>
  </div>
  <div id="plans">
    <div class="one_plan">

      <div class="plan_title">Basic</div>
      <div class="plan_content">
        Our basic plan includes all the essential Scope Live tools that your small business needs!
      </div>
      <div class="price">
        12<span>CA$</span>
        <div class="mon">per month</div>
      </div>
      <div class="start">
        <button>Get Started</button>
      </div>

      <div class="feature">
        <div class="included">
          <div class="tick"></div>
          <div class="detail">Aggregate photos by hashtag, location, and or time</div>
        </div>
      </div>
    </div>
    <div class="one_price"></div>
    <div class="one_price"></div>
  </div>
</div>
