.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  z-index: 10;
  display: flex;
  transition: opacity .3s ease;
}


.modal-container {
  margin: auto;
  background: #fff;
  border-radius: 3px;
  font-family: "Source Sans Pro";

  .container-left{
    display: inline-block;
    width: 30vw;
    max-height: 70vh;
    background: #fff;
    padding: 10px .5em 0;
    height: 100%;
    position: relative;
    overflow: auto;

    #close_button{
      display: inline-block;
      cursor: pointer;
    }
    #close_button:hover{
      color: gray;
    }
    #user_info{
      text-align: left;
      padding: 5px 15px;
      width: 100%;

      #user_avatar{
        display: inline-block;
        height: 40px;
        width: 20%;
        max-width: 40px;
        vertical-align: top;

        img{
          width: 100%;
          border-radius: 50%;
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
        }
      }

    }

    #image_info{
      margin-top: auto;
      word-break: break-word;
      overflow: auto;
      height: 80%;
      padding: .5em 1em;

      #image_tags{
        margin-top: 5px;

        ul{
          padding: 0;
          margin-top: 0;
          margin-bottom: 10px;

          li{
            display: inline-block;
            width: auto;
            margin-right: 2px;
            margin-top: 3px;

            a{
              background: #fff;
              border: 1px solid rgba(34,36,38,.15);
              box-shadow: none;
              color: grey;
              font-weight: 500!important;
              border-color: grey;
              border-radius: 0;
              padding: 0.3em;
            }
          }
        }
      }
    }


    #user_info_right{
      display: inline-block;
      vertical-align: bottom;
      width: 75%;
      margin-left: 5%;

      #user_name{
        a{
          font-weight: 700;
          font-size: 1.05em;
          color: black;
        }

      }
    }

  }

  .container-right{
    display:inline-block;
    background: #F9F9F9;
    vertical-align: top;
    position: relative;

    .image{
      img{
        max-height: 70vh!important;
        max-width: 60vw!important;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
