.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
  z-index: 9999;
  display: flex;
  transition: opacity 0.5s ease;
}


.modal-container {
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  max-width: 935px;
  pointer-events: auto;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  font-family: "Source Sans Pro";


  article{
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 335px;
    width: 100%;

    .user_info_ctn{

      position: absolute;
      left: 0;
      top: 0;
      width: 335px;
      height: 100%;
    }

    #user_info{
      border-bottom: 1px solid #efefef;
      height: 75px;
      font-size: 0.8em;
      padding: 0.8em;
      position: absolute;
      left: 0;
      top: 0;
      width: 335px;

      .time_location{

        font-size: 1em;
        font-weight: 400;
        color: grey;
        line-height: 1em;
        margin-top: 3%;
        margin-left: -1.5px;
        .fa-map-marker {
          margin-right: 0.1em;
          color: #4da5f5;
        }
        .fa-clock-o {
          margin-right: 0.1em;
          color: #da3939;
          margin-left: -0.1em;
        }
        .location,.image_time{

          margin-top: 5px;
        }


      }

      #user_avatar{
        display: inline-block;
        height: 40px;
        width: 20%;
        max-width: 40px;
        vertical-align: top;

        img{
          width: 100%;
          border-radius: 50%;
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
        }
      }

      #user_info_right{
        display: inline-block;
        vertical-align: middle;
        width: 75%;
        margin-left: 5%;

        #wrapper{

          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        #user_name{
          a{
            font-weight: 700;
            font-size: 1.05em;
            color: black;
          }
        }
      }
    }



    #image_info_left{
      bottom: 0;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 75px;
      width: 335px;
      overflow: auto;
      padding: 0.8em;

      #image_description{

        font-size: .8em;
        font-weight: normal;
        line-height: 1.5em;
        color: grey;
      }

      .tag_list{

        li{

          display: inline-block;
          list-style: none;
          margin-top: .2em;
          z-index: 0;


        a{

          color: grey;
          font-weight: 500 !important;
          border-radius: 0;
          border: 1px solid;
          font-size: 0.75em;
          padding: 0.3em 0.5em;
          line-height: 0.5em;


        }

        }
      }
    }

    #rtn-image{
      display: flex;
      padding-bottom: 100%;
      position: relative;
      img{
        width: 600px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
      }

      #temp{
        right: 0;
        position: absolute;
        top: 0;
      }

    }

  }





}



/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave .modal-container {
  //-webkit-transform: scale(1.1);
  //transform: scale(1.1);
}
