<div id="feature">

  <div id="feature_top">
    <div id="main_title">
    Everything we do to support your vision
    </div>
    <div id="sub_title">
    All the features that make you happy
    </div>
    <button id="btn">Get Started</button>

  </div>
  <div id="feature_search">
    <form v-on:submit.prevent="searchTag(tag)" >
      <div class="search-wrapper">
        <input type="search" placeholder="Start search by #hashtags" v-model="tag"><i class="material-icons">search</i>
      </div>
    </form>
  </div>

  <featurefloor></featurefloor>


</div>
