#payment{
  #til{
    padding: 2em;
    font-size: 2em;
    text-align: center;
    padding-bottom: 0.5em;
  }
    #sub{
      text-align: center;
      button{
        background: transparent;
        border: 2px solid #009cde;
        padding: 0.2em 2em;
        font-weight: 500;
        color: #009cde;
        border-radius: 50px;
        padding-top: 0.4em;
        span{
          margin: 0em 0.2em;
          position: relative;
          top: -3px;
          font-size: 1em;
        }
      }
      img{
        width:70px;
      }
    }
  #plans{
    //margin:5em 0em;
    padding: 5em 0em;
    width: 90vw;
    margin: auto;
    text-align: center;
    //&:hover{
    //  border-color: #FFA15A;
    //  cursor: pointer;
    //}
    .one_plan{

      display: inline-block;
      width: 30%;
      margin-left: 2%;
      vertical-align: top;
      min-height: 70vh;
      border:2px solid #dad7d7;
      padding: 2%;
      &:hover{
        border-color: #FFA15A;
        cursor: pointer;
      }
      .plan_title{
        //font-weight: bold;
        font-size: 2.5em;
        text-align: center;

      }
      .plan_content{

        font-size: 1.1em;
        color: grey;
        margin-top: 1em;
        height: 70px;
        .content{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .start{
        text-align: center;
      }
      .price{

        font-size: 6em;
        font-weight: bold;
        color: #FFA15A;
        position: relative;
        height: 150px;
        text-align: center;
        //right: 20px;

        span{

          display: inline-block;
          position: absolute;
          font-size: 0.3em;
          top: 20px;

        }

        .mon{
          font-size: 0.15em;
          position: relative;
          top: -20px;
          color: grey;
        }
      }
      .price_call{
        font-size: 6em;
        font-weight: bold;
        color: #FFA15A;
        height: 150px;
        position: relative;

        #phone_icon{
          margin-top: 30px;
          height: 70%;
        }
      }



      .start{
        button {
          font-size: 1.7em;
          padding: 0.2em 1em;
          background: none;
          border: 3px solid #3f1680;
          color: #3f1680;
          border-radius: 30px;
        }
      }
      .feature{
        margin-top: 20px;
        .included,.not_included{
          width:80%;
          text-align: left;
          margin: auto;
          margin-top: 15px;
          .tick,.detail{
            display: inline-block;
            vertical-align: top;
            line-height: 1.6em;
          }
          .tick{
            display: inline-block;
            width: 10%;
            color: #FFA15A;
            font-size: 1.3em;
          }
          .detail{
            width: 80%;
            margin-left: 5%;
            font-weight: 100;
          }
        }
        .not_included{

          .tick{
            //visibility: hidden;
            color: gainsboro;
          }
          .detail{
            //text-decoration: line-through;
            color: gainsboro;
          }
        }
        .detail{
          font-size: 1.1em;
          color:grey;
        }
      }
    }

  }
  .active{
    border-color: #FFA15A !important;
  }
  #professional{
    &:hover{
      border: 2px solid #dad7d7 !important;
      cursor: inherit !important;
    }
  }
}
