<div id="latestpage" v-if="scope">

  <div id="src_crl">
  <span id="caption">Sort By</span>
    <p>
  <input name="group1" type="radio" id="searchTag" value="tag" v-model="picked" checked/>
  <label for="searchTag">Tag</label>
  </p>
  <p>
  <input name="group1" type="radio" id="searchLoc" value="location" v-model="picked"  :disabled="scope.location == null"/>
  <label for="searchLoc">Location</label>
  </p>
  </div>

  <noresult :shownoreuslt="!imageList.length && !showLoading" page="feature"></noresult>
  <list :datalist.sync="imageList" :showadd="scope.owner.id == user.id "></list>
  <div id="loadMore" v-show="imageList.length>0 && hasMore && !showLoading"><button class="waves-effect waves-light btn" v-on:click="appendDataList()">Load More</button></div>
  <loadinganimation :show.sync="showLoading"></loadinganimation>
</div>
