<div id="header">
    <!--<login></login>-->
    <div class="caption">scope Live</div>
    <div class="main_con">
      <form>
        <div class="search-wrapper card">
          <input id="search"><i class="material-icons">search</i>
          <div class="search-results"></div>
        </div>
      </form>

      <div id="header_lists">
        <div class="item">Products</div>
        <div class="item">Solutions</div>
        <div class="item">Support</div>
        <div class="item">Sign In</div>
        <!--<div class="item">Sign In</div>-->
      </div>
    </div>
</div>
