<div id="header" class="home">
    <div class="caption"><a v-link="{path:'/'}">scope Live</a></div>
    <div class="main_con">

      <div id="search">
        <div class="search-wrapper card">
          <input @keydown.enter="searchTag(tag)" v-model="tag"><i class="material-icons">search</i>
        </div>
      </div>

      <div id="header_lists">
        <div class="item">Products</div>
        <div class="item">Solutions</div>
        <div class="item">Support</div>
        <div class="item" v-if="!user.email"><div @click="showlogin = true">Sign In</div></div>
        <div class="item user" id="user-info" v-show="user">
          <div>
            <span data-activates='dropdown1' class="user-avatar dropdown-button" :style="{ 'background-image': 'url(' + user.avatar + ')' }"></span>
          </div>
          <ul id='dropdown1' class='dropdown-content dropdown'>
            <li class="info"><div>Signed in as:</div><div class="username"><i class="tiny material-icons">perm_identity</i>{{user.name}}</div><div class="useremail"><i class="tiny material-icons">email</i>{{user.email}}</div></li>
            <!--<li class="divider"></li>-->
            <li><a v-link="{path:'/user'}">Account Dashboard</a></li>
            <li><a href="#!">Sign Out</a></li>
          </ul>
        </div>

        <div id="nav-scope" v-if="user.email">
            <button class="btn btn-tgb-primary" data-toggle="dropdown"><i class="icon icon-grid6"></i> <span>My Scopes</span></button>
            <button style="margin-left:-2px" class="btn" @click="showAddScope = true"><span class="material-icons">add</span></button>
        </div>
        <login :showlogin.sync="showlogin" :user.sync="user"></login>


      </div>
    </div>
    <addscope :show.sync="showAddScope"></addscope>
</div>
