#featurepage{
  padding-bottom: 20px;
  #loadMore {
    text-align: center;
    height: 40px;
    button {
      width: 100%;
      margin-top: 1em;
      background: transparent;
      box-shadow: none;
      color: grey;
      font-weight: bold;
      &:hover {
        background: rgba(177, 173, 173, 0.5);
        color: white;
        border-radius: 0px;
      }
    }
  }
}
