#scopesetting{
  #scope_title{
  padding: 20px;
  font-size: 1.2em;
  max-width: 400px;
  font-weight: bold;
  color: grey;
  }

  #right_content{
    width:72%;
    margin-left: 2.5%;
    border-radius: 5px;
    display: inline-block;
    //margin-bottom: 80px;
    padding: 30px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    vertical-align: top;
  }
}
