<div id="sidecontrol">
  <div id="caption">Present Setting</div>
  {{imagepresentinterval}}
  <section id="layout">
    <div class="sub_cap">Layout</div>
    <div id="layout_type">
        <div class="layout">
            <button :class="{'active':layout == 'default'}"  @click="layout='default'">Default</button>
            <!--<input type="checkbox" id="default" checked/>-->
            <!--<label for="default">Default</label>-->
          </div>
        <div class="layout">
          <button :class="{'active':layout == 'compact'}" @click="layout='compact'">Compact</button>
          <!--<input type="checkbox" id="compact"/>-->
          <!--<label for="compact">Compact</label>-->
        </div>
      <div class="layout">
        <button :class="{'active':layout == 'single'}" @click="layout='single'">Single</button>
        <!--<input type="checkbox" id="single"/>-->
        <!--<label for="single">Single</label>-->
      </div>
    </div>
  </section>

  <section id="general">
    <div class="sub_cap">General</div>
    <div id="src_type">
    <div id="label">Retrive Image From Other Sources</div>
    <div class="switch">
      <label>
        Off
        <input type="checkbox">
        <span class="lever"></span>
        On
      </label>
    </div>

      <div id="label">Update Interval</div>
      <form action="#">
        <p class="range-field">
          <input type="range" :value="imagepresentinterval" v-model="imagepresentinterval" min="5" max="20" />
        </p>
      </form>

    </div>
  </section>





</div>
