#sidecontrol{
  position: fixed;
  top: 0;
  background: #480F84;
  height: 100vh;
  opacity: 0.95;
  width: 250px;
  z-index: 1000;
  padding: 1em 0;
  box-shadow: 1px 1px 10px 1px #9c9c9c;
  transition:0.5s;
  left: -330px;

  input[type=range]+.thumb{

    background-color: #7533bb;
  }
  input[type=range]{
    border:none;
  }

  input[type=range]::-webkit-slider-thumb {
    background: #a275d2;
  }

  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    background: #a275d2;
  }

  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    background: #a275d2;
  }




  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    background: white;
    border: transparent;
  }


  input[type=range]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    background: white;
    border: transparent;
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    box-shadow: none;
    background: white;
    border: transparent;
  }





  &.active{

    left:0px !important;
  }
  #close_btn{

    position: absolute;
    right: 10px;
    font-size: 1.5em;
    top: 3px;
    cursor: pointer;
    i{color: white}
  }

  #caption{
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 1em;
    border-bottom: 2px solid #512791;
  }


  section{

    padding: 0.5em 0;
    border-bottom: 2px solid #512791;
    .sub_cap{
      height: 30px;
      padding: 0em 1em;
      color: white;
      font-size: 1.2em;

      img{
        height: 100%;
        position: relative;
        top: 9px;
        right: 6px;}
    }
    #src_type{
      padding: 1em;
    }
    #layout_type{
      color: white;
      padding: 0.5em 0;
      color: #adaaaa;
      .active{
        background: #38126d;
        box-shadow: inset 5px 0px 0 0 #ff9751;
        -webkit-box-shadow: inset 5px 0px 0 0 #ff9751;
        -moz-box-shadow: inset 5px 0px 0 0 #ff9751;
        color: white;
      }

      button{

        border: none;
        background: transparent;
        border-bottom: 3px solid transparent;
        transition:0.4s;
        margin-top: 7px;
        padding:5px 0 5px 10px;
        font-size: 1.1em;
        font-weight: 300;
        width: 100%;
        text-align: left;
        &:hover{
          color: white;
          cursor: pointer;
        }
      }
    }

    #interval{

      color: white;
      font-size: 1.1em;
      text-align: right;
      font-weight: bold;

    }

  }
  #godash{
    padding: 0em 1em;
    font-size: 1.2em;
    color: white;
  }
}
