<div id="sidecontrol" :class="{'active':showsetting}">
  <div id="close_btn"><i class="fa fa-times" aria-hidden="true" @click="showsetting=false"></i></div>
  <div id="caption">Presentation Settings</div>
  <section id="layout">
    <div class="sub_cap"><img :src="lay">Layout</div>
    <div id="layout_type">
        <div class="layout">
            <button :class="{'active':layout == 'default'}"  @click="layout='default'">Default</button>
            <!--<input type="checkbox" id="default" checked/>-->
            <!--<label for="default">Default</label>-->
          </div>
        <div class="layout">
          <button :class="{'active':layout == 'compact'}" @click="layout='compact'">Compact</button>
          <!--<input type="checkbox" id="compact"/>-->
          <!--<label for="compact">Compact</label>-->
        </div>
      <div class="layout">
        <button :class="{'active':layout == 'single'}" @click="layout='single'">Single</button>
        <!--<input type="checkbox" id="single"/>-->
        <!--<label for="single">Single</label>-->
      </div>
      <div class="layout">
        <button :class="{'active':layout == 'float_3'}" @click="layout='float_3'">Float 3</button>
        <!--<input type="checkbox" id="single"/>-->
        <!--<label for="single">Single</label>-->
      </div>
    </div>
  </section>

  <section id="general">
    <div class="sub_cap"><img :src="int">Interval</div>
    <div id="src_type">
      <!--<div id="label">Update Interval</div>-->
      <form action="#">
        <div id="interval">{{imagepresentinterval}}s</div>
        <p class="range-field">
          <input type="range" :value="imagepresentinterval" v-model="imagepresentinterval" min="10" max="60" />
        </p>
      </form>



    </div>

  </section>

  <section id="boback">
    <a v-link="{path: '/appcontent/dashboard'}" id="godash">Go Dashboard</a>
  </section>




</div>
