#scopepage{

  #scope-map{
    #googleMap{
      width: 100% !important;
      height: 300px !important;
      margin: 0 0 !important;
    }
  }

  #scope_ctr{
    text-align: right;
    margin-bottom: 15px;
    padding: 0.5em;
    .tab{
      display: inline-block;
      color: white;
      background: #d35d68;
      border-radius: 5px;
      font-weight: 300;
      margin-left: 10px;
      font-size: 1.2em;
      padding: 0.3em 0.8em;
      line-height: 1.2em;
      i{

        margin-right: 0.5em;
      }
    }
  }

  #scope_tab{

    width: 100%;
    //height: 25px;
    background: rgba(0, 0, 0, 0.57);
    margin-bottom: 10px;
    //margin-top: -100%;
    position: relative;
    #tabs{
      text-align: center;
      .tab{
        display: inline-block;
        color: white;
        font-weight: bold;
        margin-left: 20px;
        font-size: 1.2em;
        padding: 0.4em 0.6em;
        line-height: 1.2em;
        border-bottom: 3px solid transparent;
        &:hover{
          background: #a29f9f;
          color: #f7f7f7;
          cursor: pointer;
        }
      }
      .tab.active{

        border-bottom: 3px solid #f9f9f9;
      }
      #src_crl{
        padding: 1em;
        padding-bottom: 0em;
        background: #fafafa;
        p{
          display: inline-block;
          margin: 8px 2px;
          [type="radio"]:disabled+label{
            color: rgba(0,0,0,0.26);
            font-weight: bold;
          }
        }
        label{
          color: grey;
          font-weight: bold;
        }
      }
    }
  }


}
