<div id="footer">
  <footer class="page-footer">
      <div class="footer-container">
        <div class="footer-left">
          <div id="footer-logo">
            <img :src="logo">
          </div>
          <div id="footer-copyright">
            © 2016 Pantoscope Media Inc
          </div>
        </div>

        <div class="footer-mid">
          <div id="mid-container">
            <a>About us</a>
            <a v-link="{path: '/tos'}">Term of Service</a>
            <a>Press</a>
            <a v-link="{path: '/contact'}">FAQ</a>
          </div>

        </div>

        <div class="footer-right" >
          <div id="footer-email" >
            <a href="mailto:contact@scopelive.com" target="_top">contact@scopelive.com</a>
          </div>

          <div id="footer-social" >
              <div id="followus">Follow us</div>
              <img :src="tw">
              <img :src="fb">
              <img :src="ins">
          </div>
        </div>


      </div>
  </footer>
</div>
