<div id="intro">
  <siteloader :finished.sync="finished"></siteloader>
  <div id="intro_left">
  <div id="title">Use <b>Scope Live</b> to help grow your business!</div>
  <div id="sub_title">Understand and connect with your ever-growing audience's activities across major social media platfoms.</div>
  <div id="but_con"> <button id="get_start" v-link="{path:'/login?op=sign'}">Get Started</button> </div>
  </div><!--

  --><div id="intro_right">
  </div>
  <div id="search_con">
  <search></search>
  </div>


</div>
