#intro{

  padding: 4em 0em;
  padding-bottom: 0em;
  //text-align: center;
  //background: #e9e9e9;
  //border-bottom: 1px solid gainsboro;
  #intro_left{

    text-align: center;
    display: inline-block;
    padding: 1em;
    padding-top: 1vw;
    width:50%;
    #get_start{
      margin-top: 20px;
      border-radius: 30px;
      border: none;
      font-size: 1.5em;
      background: #3f1179;
      color: white;
      padding: .4em 1.8em;
    }

    #but_con{

      width: 400px;
      margin: auto;
      text-align: left;
      margin-top: 1em;
    }
    vertical-align: top;
  }

  #intro_right{

    display: inline-block;
    width: 50%;
    background: url('../resources/app_mock_up.png');
    height: 550px;
    background-size: 120%;
    background-position-x: -55px;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(143,143,143,0.7);
    -moz-box-shadow: 0px 10px 15px 0px rgba(143,143,143,0.7);
    box-shadow: 0px 10px 15px 0px rgba(143,143,143,0.7);
  }

  #title{

    font-size: 2.7em;
    font-weight: normal;
    max-width: 400px;
    text-align: left;
    margin: auto;
    line-height: 1.25em;
    b{

      color: #ecb17c;
    }
  }
  form {
    width: 100%;
    margin: auto;
    margin-top: 3em;
    //margin-top: 15px;
    //margin-bottom: 15px;
    //background-color: white;
    color: black;
    .search-wrapper {

      width: 100%;
      margin: auto;
      position: relative;
      input {
        margin: 0;
        padding: 10px;
        padding-left: 250px;
        font-size: 2.5em;
        font-weight: 100;
        background: white;
        border: 1px solid #f3f0f0;
        border-left: none;
        border-right: none;
        box-shadow: 1px 1px 5px 0px gainsboro;
      }
      input:focus{
        box-shadow: none;
      }

      .material-icons {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 190px;
        font-size: 3.5em;
        color: #ecb17c;
      }
    }
  }
  #sub_title{

    font-size: 1.4em;
    font-weight: normal;
    text-align: left;
    color: grey;
    width: 400px;
    margin: auto;
    margin-top: 0.5em;
  }

  #trail_b{

    a{

      background: #3f1680;
      color: white;
      font-size: 1.4em;
      padding: 0.5em 2.5em;
      display: inline-block;
      margin-top: 1em;
      border-radius: 10px;
    }
  }

}
