<div id="login">
  <div id="bg">
    <div id="login_sec" class="container">


        <div id="top_tab">
          <div class="tab" :class="{'active':currentSelected == 'signup'}" @click="currentSelected = 'signup'">Sign Up</div>
          <div class="tab" :class="{'active':currentSelected == 'login'}" @click="currentSelected = 'login'">Log In</div>
        </div>


        <!--<div id="close" v-on:click="showlogin=!showlogin">x</div>-->
        <!--<div id="body"><span>SIGN IN</span>-->
        <form v-on:submit="userLogin($event)" v-if="currentSelected == 'login'">
          <div class="row">
            <div class="input-field col s12">
              <div class="label">Email (username)</div>
              <input id="icon_prefix" type="text" class="validate" v-model="username">
              <!--<label for="icon_prefix">Email (username)</label>-->
            </div>
            <div class="input-field col s12">
              <div class="label">Password</div>
              <input class="validate" v-model="password" type="password">
            </div>
          </div>
          <div class="ctr"><button class="waves-effect waves-light btn" type="submit">Sign In</button></div>
        </form>
      <form v-on:submit="registerUser($event)" v-if="currentSelected == 'signup'">
        <div class="row">
          <div class="input-field col s12">
            <div class="label">Your Name</div>
            <!--<i class="material-icons prefix">perm_identity</i>-->
            <input id="icon_prefix" type="text" class="validate" v-model="reg_name" placeholder="What's your name?" required>
            <!--<label for="icon_prefix">Name</label>-->
          </div>
          <div class="input-field col s12">
            <div class="label">Your Email (username)</div>
            <!--<i class="material-icons prefix">account_circle</i>-->
            <input id="icon_prefix" type="email" class="validate" v-model="reg_username" placeholder="What's your email?" required>
            <!--<label for="icon_prefix">Email (Username)</label>-->
          </div>
          <div class="input-field col s12">
            <div class="label">Create Password</div>
            <!--<i class="material-icons prefix">vpn_key</i>-->
            <input class="validate" v-model="reg_password" type="password" placeholder="at least 6 characters" required>
            <!--<label for="icon_telephone">Password</label>-->
          </div>
          <div class="input-field col s12">
            <div class="label">Repeat Password</div>
            <!--<i class="material-icons prefix">vpn_key</i>-->
            <input class="validate" v-model="reg_compassword" type="password" placeholder="must match your previous input" required>
            <!--<label for="icon_telephone">Comfirm Password</label>-->
          </div>
        </div>
        <div class="ctr"><button class="waves-effect waves-light btn" type="submit">Register</button></div>
      </form>
        <!--</div>-->

  </div>

</div>
  </div>
