<div id="login">

  <div id="bg">

    <div id="login_sec">
      <div id="close">x</div>
      <div id="body"><span>SIGN IN</span>
      <form>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Username</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="icon_telephone" type="tel" class="validate">
            <label for="icon_telephone">Password</label>
          </div>
        </div>
        <div class="ctr"><a class="waves-effect waves-light btn">Sign In</a></div>
      </form>
      </div>

  </div>

</div>
  </div>
