#addScope-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(96, 85, 91, 0.4);
  z-index: 9999;
  display: flex;

  #googleMap{

    height: 170px;
  }


#addScope-container{
  width: 800px;
  max-height: 80vh;
  padding: 1em 0em 0 0;
  overflow: auto;
  margin: auto;
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 2px rgba(4, 4, 4, 0.7);

  #create-form{
    width: 100%;
    height: 100%;


      width: 100%;
      height: 100%;


      #addScope-header{
        padding: 0.5rem 1rem;
        font-size: 2em;
        color: #470e7d;
        font-weight: 400;
      }

      #form-input{
        background: #f9f5f4;
        padding: 1rem;
        #hashtag{
          display:block;
          //width: 50%;
        }
        label{
          color: #000000;
          font-size: 1em;
          font-weight: 600;
        }

        #hashtag{

          position: relative;
          button{
            position: absolute;
            right: 10px;
            top: 37px;
            border-radius: 50%;
            box-shadow: none;
            border: none;
            background: #470e7d;
            color: white;
            height: 25px;
            width: 25px;
          }

          .one_tag{
            display: inline-block;
          }
        }

        #location{
          display:block;
          width: 100%;
        }

        .switch{
          margin: 15px 0;
          line-height: 30px;
        }

        #location{

          position: relative;
          #add_loc_btn{
            button{
              position: absolute;
              right: 10px;
              top: 37px;
              border-radius: 50%;
              box-shadow: none;
              border: none;
              background: #470e7d;
              color: white;
              height: 25px;
              width: 25px;
            }
          }
          #del_loc_btn{
            button{
              position: absolute;
              right: 50px;
              top: 37px;
              border-radius: 50%;
              box-shadow: none;
              border: none;
              background: #470e7d;
              color: white;
              height: 25px;
              width: 25px;
            }
          }

        }


        #description{
          width: 100%;
          //height: 30%;
        }
        #source{
          margin-bottom: 20px;
          label{
            display: inline-block;
            margin-bottom: 15px;
          }
          #lever_container{

            //text-align: right;
          }
        }


        #submit-but{

          text-align: right;
          .btn{
            display: inline-block;
            margin-left: 5px;
            box-shadow: none;
            border: 2px solid #470e7d;
            border-radius: 15px;
          }
          .cancel{
            padding-left: 20px;
            padding-right: 20px;
            color: #470e7d;
            background: none;
            font-size: 1em;
            font-weight: 600;
          }
          i{
            color: white;
            position: relative;
            left: 29px;
            z-index: 10;
            top: 3px;
          }
          .create{
            padding-right:10px;
            background: #470e7d;
          }

        }


        textarea:active,textarea:focus{

          outline: 0px;
        }

        textarea{
          resize: none;
        }

      }



  }
}

}
