#sidemenu{
  width: 220px;
  z-index: 999;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  //margin-top: 55px;
  top: 0;
  left: 0;
  padding: 0 0 55px;
  height: 100vh;
  color: #fff;
  background-color: #3f1179;
  .nav-page-title {
    background: #fa5757;
    text-align: center;
    h2 {
      font-size: 12px;
      margin: 10px;
      opacity: .85;
      text-transform: uppercase;
      letter-spacing: .05em;
    }
  }
  .user-avatar{
    margin: 1em 0;
    text-align: center;
    .tb-avatar {
      height: 70px;
      width: 70px;
      overflow: hidden;
      border-radius: 100%;
      display: inline-block;
    }
  }


  #scope_list{

    padding-left: 2.5em;
    padding-right: 1em;
    font-size: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    cursor: initial;
    .one_scope{
      margin-top: 3px;
      word-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0;
      display: block;
      color: #adaaaa;
      &:hover{
        color:white;
        cursor: pointer;
      }
    }
    .selected{

      color:white;
      cursor: initial !important;
      //font-size: 1.3em;

    }
  }

  .user-info {
    text-align: center;
    color: #fff;
  #pay_fre{
    display: inline-block;
    padding: 0.2em 1em;
    background: #139213;
    color: white;
    font-size: 0.85em;
    border-radius: 5px;
    margin: 0.2em;
  }
    #pay_fre,#pay_bsc,#pay_adv{
      display: inline-block;
      padding: 0.2em 1em;
      background: #139213;
      color: white;
      font-size: 0.85em;
      border-radius: 5px;
      margin: 0.2em;
      letter-spacing: 0.03em;
    }

    #pay_adv{
      background: #e85252;
    }
    #pay_bsc{
      background: rgb(113, 158, 245);
    }

    h3 {
      margin: 0;
      font-size: 1em;
      display: inline-block;
      letter-spacing: 0.05em;
    }
    small {
      color: rgba(254, 254, 254, 0.71);
      font-size: 0.8em;
      font-weight: 100;
      position: relative;
      top:-5px;
    }
    #user-signOut{
      cursor: pointer;
      margin: 1em;
      color: #ff9751;
      font-size: 0.9em;
      font-weight: bold;
      i{
        margin-right: 2px;
        font-size: 1.3em;
        color: white
      }

    }
  }

  .account-nav{
    box-sizing: border-box;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nav-pills li {
      padding: 0;
      margin-top: 0;
      border-radius: 0;
      border-top: 1px solid #512791;
      //border-bottom: 1px solid #512791;
      &:hover{
        background: #38126d;
        color: rgba(255, 255, 255, .7);
        cursor: pointer;
      }
      &.active{
        background: #38126d;
        box-shadow: inset 5px 0px 0 0 #ff9751;
        -webkit-box-shadow: inset 5px 0px 0 0 #ff9751;
        -moz-box-shadow: inset 5px 0px 0 0 #ff9751;;
        color: rgba(255, 255, 255, .7);
      }
      //border-bottom: 1px solid #794343;


      .item {
        line-height: 2;
        color:white;
        font-size: 0.9em;
        background-color: transparent;
        padding: 0.5em 1.5em;
        border-radius: 0;
        border: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        display: block;
        text-decoration: none;
        font-weight: 100;
        outline: 0;
        i{
          width: 25px;
        }
      }


    }
  }
}
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 999;
  //will-change: transform;
  //background: #f8f3f2;
  min-height: 100vh;
}

.slideout-open,
.slideout-open html,
.slideout-open .slideout-panel {
  overflow: hidden !important;
}

.slideout-open .slideout-menu {
  display: block;
}
