#sidemenu{
  width: 250px;
  z-index: 999;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 55px;
  top: 0;
  left: 0;
  padding: 0 0 55px;
  height: 100vh;
  color: #fff;
  background-color: #3f1179;
  .nav-page-title {
    background: #fa5757;
    text-align: center;
    h2 {
      font-size: 12px;
      margin: 10px;
      opacity: .85;
      text-transform: uppercase;
      letter-spacing: .05em;
    }
  }
  .user-avatar{
    margin: 1em 0;
    height: 100px;
    position:relative;
    .tb-avatar {
      border: 0;
      box-shadow: 0 1px 0 rgba(0,0,0,.25);
      height: 100px;
      width: 100px;
      margin: auto;
      position: absolute;
      left: 75px;
      top: 0;
      bottom: 0;
      background-color: #fff;
      overflow: hidden;
      border-radius: 100%;
      display: inline-block;
    }
  }
  .user-info {
    text-align: center;
    font-weight: lighter;
    padding: 20px 20px 20px 20px;
    position: relative;
    width: 100%;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    h3 {
      margin: 0;
      font-size: 20px;
      display: inline-block;
    }
    small {
      color: rgba(254, 254, 254, 0.71);
      padding-left: 1px;
      font-size: 0.9em;
    }
    #user-signOut{
      cursor: pointer;
      margin: 1em 0;
      color: #ff9751;
      font-weight: 500;
    }
  }

  .account-nav{
    box-sizing: border-box;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .nav-pills li {
      padding: 0;
      margin-top: 0;
      border-radius: 0;
      &:hover{
        background: #38126d;
        color: rgba(255, 255, 255, .7);
        cursor: pointer;
      }
      &.active{
        background: #38126d;
        border-top: 1px solid #512791;
        border-bottom: 1px solid #512791;
        box-shadow: inset 5px 0px 0 0 #ff9751;
        -webkit-box-shadow: inset 5px 0px 0 0 #ff9751;
        -moz-box-shadow: inset 5px 0px 0 0 #ff9751;;
        color: rgba(255, 255, 255, .7);
      }
      //border-bottom: 1px solid #794343;


      a {
        line-height: 2;
        color:white;
        background-color: transparent;
        padding: 10px 20px 10px 55px;
        border-radius: 0;
        border: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: relative;
        display: block;
        text-decoration: none;
        outline: 0;
      }


    }
  }
}
