<div id="sidemenu" v-if="user">

  <div class="nav-page-title">
    <h2>Account Dashboard</h2>
  </div>

  <div class="user-info clearfix">
    <img :src="user.avatar" alt="" class="tb-avatar">
    <h3>{{user.name}}</h3><br/>
    <small>{{user.email}}</small>
  </div>

  <div class="account-nav">
    <ul class="nav nav-pills nav-stacked">
      <li class="my-tagboards-link active"><a><i class="icon icon-grid6"></i> <span>My tagboards</span></a></li>
      <!--<li class=""><a><i class="icon icon-profile"></i> <span>Profile</span></a></li>-->
      <!--<li class="upgrade-account"><a><i class="icon icon-power2"></i> <span>Upgrade your account</span></a></li>-->
      <!--<li class=""><a><i class="icon icon-link2"></i> <span>Developer Tools</span></a></li>-->
    </ul>
  </div>

</div>
