<div id="sidemenu">

  <div class="nav-page-title">
    <h2>Account Dashboard</h2>
  </div>

  <div class="user-info clearfix">
    <img src="https://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg" alt="" class="tb-avatar">
    <h3>SHI LIANG HONG</h3>
    <small style="background-image: url(https://static.tagboard.com/public/img/logo-instagram-inverted.svg)">@mikyxdxd</small>
  </div>

  <div class="account-nav">
    <ul class="nav nav-pills nav-stacked">
      <li class="my-tagboards-link active"><a><i class="icon icon-grid6"></i> <span>My tagboards</span></a></li>
      <li class=""><a><i class="icon icon-profile"></i> <span>Profile</span></a></li>
      <li class="upgrade-account"><a><i class="icon icon-power2"></i> <span>Upgrade your account</span></a></li>
      <li class=""><a><i class="icon icon-link2"></i> <span>Developer Tools</span></a></li>
    </ul>
  </div>

</div>
