#regular{

  @media screen and (max-width: 1300px) {
    .card{
      //margin: 0 !important;
      width:24% !important;
      margin-left: 0.5%;
      //.user_info{
      //  display: none;
      //}
      //.image_info{
      //  display: none;
      //}
    }
  }
  @media screen and (max-width: 1000px) {
    .card{
      //margin: 0 !important;
      width:32% !important;
      margin-left: 0.5%;
      //.user_info{
      //  display: none;
      //}
      //.image_info{
      //  display: none;
      //}
    }
  }

  @media screen and (max-width: 700px) {
    .card{
      //margin: 0 !important;
      width:49% !important;
      margin-left: 0.5%;
      //.user_info{
      //  display: none;
      //}
      //.image_info{
      //  display: none;
      //}
    }
  }

  @media screen and (max-width: 500px) {
    .card{
      //margin: 0 !important;
      width:99% !important;
      margin-left: 0.5%;
      //.user_info{
      //  display: none;
      //}
      //.image_info{
      //  display: none;
      //}
    }
  }

}
