#noresult{

  padding: 3em;
  text-align: center;
  #no-img{
    margin: 2em 0;
    height: 120px;
    img{
      height: 100%;
    }
  }
}
  #warning{
    display: inline-block;
    color: #e2d9d2;
    font-size: 1em;


}
