#whatisit{

  text-align: center;
  padding: 2em;
  background: white;
  .content{

    padding: 2em;
    line-height: 1.8em;
    width: 900px;
    margin: auto;
    font-size: 1.2em;
    color: grey;

  }
  img{

    width: 90%;
    margin-top: -2em;
    margin-left: 10px;
  }

}
