<div id="whatisit">
  <div class="caption">
    What is Scope Live ?
  </div>
  <div class="content">
    Scope Live offers you the unique opportunity to find, view, and engage with your audience across and beyond social media. By utilizing #hashtag and location based searching, you can instantly find photos posted in real time from Twitter, Instagram, Foursquare, Tumblr, Facebook, and many more!
  </div>
  <div class="image">
    <img src="../resources/whatisit.jpg">
  </div>
  <!--<div id="title">Use <b>Scope Live</b> to help grow your business!</div>-->
  <!--<div id="sub_title">Understand and connect with your ever-growing audience's activities across major social media platfoms.</div>-->
  <!--<div id="trail_b"><a>Start your free trail</a></div>-->
</div>
